# Rust artifacts
**/target/
plugins/

# Project-specific ignores
veldgis/data/
veldgis/config/local-storage.json
veldgis/config/data-provider.json
veldgis/config/services.json
cache/

# Binary data
*.tif
*.zip

# Temporary and log files
*.log
.DS_Store

# IDEs
.idea/
.vscode/