# Standalone workspace — prevents cargo from inheriting a parent workspace
[workspace]

[package]
name = "{{ module_name }}"
version = "{{ version }}"
edition = "2024"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
veldsdk = { path = "{{ sdk_path }}" }
{% for name, version in dependencies.items() %}
{{ name }} = {{ version }}
{% endfor %}

[build-dependencies]
prost-build = "0.14"

[profile.release]
opt-level = "s"
panic = "abort"
lto = false
codegen-units = 16
