[package]
name = "{{ package }}"
version = "0.1.0"
edition = "2021"

[dependencies]
veldmap-host-util = { path = "../../../util" }
async-trait = "0.1"
log = "0.4"
{% for name, version in dependencies.items() %}
{{ name }} = {{ version }}
{% endfor %}
